#root{
 width:100%;
}
p{
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
ul li{
    float: left;
}
.loginBtn{
    margin-left:auto;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
  background-color: #003856;
}

hr{
    width:100%;
    padding:0%;
    margin:0%;
    margin-bottom: 15px;
}
.Introduction{
    width:900px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.fishList{
    margin-top:50px;
    width:700px;
    display:flex;
    flex-direction: column;
    margin: 0 auto; 
}
.fishList .fishCard{
    display:flex;
    flex-direction:column;
    background-color: white;
    color:#00121C;
    margin:50px;
}

.fishList .fishCard .fishTitle{
    font-weight:bold;
    font-size: 30px;
}

.fishList .fishCard .fishText{
    text-align: justify;
    padding:30px;

}

.fishList .fishCard .fishImage{
    height: 300px;
    width: 100%;
    display: block;
    margin:auto;
}

.fishList .fishCard:hover{
    background-color: #001C2B;
    color:white;
    transition:400ms;
    cursor: pointer;
}



