.moreFishCard{
    display:flex;
    flex-direction:column;
    background-color: #001C2B;
    color:white;
    width:50%;
    height:100%;
    max-height: 950px;
    margin:25px auto;
}

.moreFishImage{
    height: 25%;
    width: 100%;
    display: block;
    margin:auto;
    margin:0px;
}

  .moreFishTitle{
    font-weight:bold;
    color:white;
    font-size: 30px;
    margin: 30px 5px 0px;
    text-align: left;
}

 .moreFishText{
    text-align: justify;
    padding:15px;
    word-wrap:break-word;
    max-width: 92%;
}

